/*Login head */

* {
    -webkit-font-smoothing: antialiased;
}


div {
    display: block;
}

body {
    background-color: #fff;
}
.header{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #0b65c6;
    margin-bottom: -30px;
    padding-top: 30px;
}


/*Login Body */

.form_div {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: auto;
    box-sizing: border-box;
    position: relative;
    margin: 5px 20px;
}

.form_container {
    width: 100%;
    display: flex;
    justify-content: center;

}

form {
    display: block;
    margin-top: 3em;
}

@media (max-width: 479px) {
    .form_div1 {
        padding: 20px;
    }
    
}

.form_div1 {
    padding: 32px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 41%) 0px 2px 8px 0px;
    width: 400px;
    align-items: center;
    
}

.form_div2 {
    display: flex;
    flex-direction: column;
}

.form_header {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: none;
    font-style: normal;
    cursor: inherit;
    display: block;
    opacity: 1;
}
.form_para1 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-transform: none;
    font-style: normal;
    color: rgb(103, 113, 132);
    cursor: inherit;
    display: block;
    opacity: 1;
}

.form_textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(53, 63, 82);
    background-color: rgb(255, 255, 255);
    background-image: none;
    outline-width: 0px;
    user-select: text;
    font-weight: 500;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    resize: initial;
    border: 1px solid rgb(223, 227, 235);
    border-radius: 8px;
}

textarea {
    -webkit-writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}



.form_para2 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-transform: none;
    font-style: normal;
    color: rgb(103, 113, 132);
    cursor: inherit;
    display: block;
    opacity: 1;
}

.button {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-width: 140px;
    height: 48px;
    padding: 10px 15px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: normal;
    transition: all 0.2s ease-in-out 0s;
    white-space: nowrap;
    line-height: 1;
    text-transform: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 108, 242);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(12, 108, 242);
}
.button:hover{
    background-color: rgb(10, 80, 177);
}

.submit {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.9);
    cursor: inherit;
    display: block;
    opacity: 1;
}

.go_back-div {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(12, 108, 242);
    cursor: pointer;
    display: block;
    opacity: 1;
}

.form_div3 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 24px;
}

.form_para3 {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: inherit;
    text-transform: none;
    font-style: normal;
    color: rgb(103, 113, 132);
    cursor: inherit;
    display: block;
    opacity: 1;
}

.contact_support {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: rgb(12, 108, 242);
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

